@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: #00ff00;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: "VT323", monospace;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

html.dark-theme,
body.dark-theme {
  background-color: black;
  background: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXdra21uYWRmZWU3a2p6Z3NmNzJyNGI3bmozMjJ6anRxbmZobHQyYiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Q9aBxHn9fTqKs/giphy.gif");
  background-size: auto;
}

html.light-theme,
body.light-theme {
  background-color: white;
  background: url("https://64.media.tumblr.com/83928a1806eea0bf918c0dff130c9dbc/tumblr_na39k233Xy1r83cqho1_400.gif");
  background-size: auto;
}

.light-theme {
  background-color: #f5f5f5;
  color: #003300;
}

.dark-theme {
  background-color: black;
  color: #00ff00;
}

.calculator,
.screen,
.num-btn,
.operator,
.clear-entry,
.toggle-mode {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}

/* Light Theme */
.light-theme .calculator {
  background-color: white;
  border: 1px solid #33cc33;
  box-shadow: 0 0 20px rgba(51, 255, 51, 0.6), 0 0 40px rgba(51, 255, 51, 0.4);
  animation: light-glow-pulse 2s infinite alternate;
}

.light-theme .screen {
  background-color: white;
  border: 1px solid #004d00;
  color: #004d00;
  box-shadow: 0 0 15px rgba(51, 255, 51, 0.6);
}

.light-theme .num-btn {
  background-color: #ffffff;
  color: #004d00;
  border: 1px solid #33cc33;
  transition: all 0.3s ease-in-out;
}

.light-theme .num-btn:hover {
  background-color: #b2ff66;
  box-shadow: 0 0 15px #33ff3399;
}

.light-theme .operator {
  color: #003300;
  background-color: #cccccc;
}

.light-theme .operator:hover {
  background-color: #b2ff66;
  box-shadow: 0 0 15px #33ff33;
  transition: box-shadow 0.2s ease-in-out;
}

.light-theme .equal {
  background-color: #33cc33;
  color: white;
}

.light-theme .equal:hover {
  background-color: #2eb82e;
  box-shadow: 0 0 15px rgba(46, 184, 46, 0.8);
  transition: box-shadow 0.2s ease-in-out;
}

.light-theme .clear-entry {
  background-color: #ffd700;
  color: black;
}

.light-theme .clear-entry:hover {
  background-color: #ffc400;
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
}

.light-theme footer {
  margin-top: auto;
  display: flex;
  background-color: transparent;
  color: #004d00;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.light-theme footer a {
  display: flex;
  align-items: center; /* Aligns items vertically */
  text-decoration: underline;
  background-color: transparent;
  color: #004d00;
  font-size: 1.2rem;
  gap: 8px;
  animation: flickerText 1.5s infinite alternate;
}

.light-theme footer a:hover {
  animation: float 3s ease-in-out infinite, flickerText 1.5s infinite alternate;
}

.light-theme .github-logo {
  display: inline-block;
  background: none;
  border: 1px solid transparent;
  border-radius: 50%;
  max-width: 28px;
  max-height: 28px;
  animation: flicker 1.5s infinite alternate;
  transition: all 0.3s ease-in-out;
}

/* Dark Theme */
.calculator {
  width: 25rem;
  height: 35rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #00ff00;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.9);
  animation: dark-glow-pulse 2s infinite alternate;
  padding: 20px;
  margin-top: auto;
}

.screen {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 85%;
  padding: 10px;
  align-items: flex-end;
  border: 1px solid #00ff00;
  border-radius: 20px;
  color: #00ff00;
  box-shadow: 0 0 15px rgba(51, 255, 51, 0.8);
}

.previous-screen {
  min-height: 1.5rem;
  font-size: 1.6rem;
}

.current-screen {
  min-height: 2rem;
  font-size: 2rem;
}

.numpads {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 20rem;
}

.num-btn {
  flex: 1 1 20%; /* Makes sure each button takes up 25% width */
  max-width: 25%; /* Ensures only 4 buttons fit per row */
  height: 4.5rem;
  text-align: center;
  border-radius: 50%;
  border: 1px solid transparent;
  font-size: 1.8rem;
  transition: 0.3s;
  color: #00ff00;
  background-color: #111111;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
  font-family: "VT323", monospace;
}

.num-btn:active {
  transition: transform 0.05s ease-in-out;
  transform: translateY(3px);
}

.digits,
.toggle-mode,
.delete {
  color: #00ff00;
  background-color: #111111;
}

.digits:hover,
.toggle-mode:hover,
.delete:hover {
  background-color: #003300;
  box-shadow: 0 0 10px #33ff33;
  transition: box-shadow 0.2s ease-in-out;
}

.operator {
  color: #00ff00;
  background-color: #333333;
}

.operator:hover {
  background-color: #003300;
  box-shadow: 0 0 15px #33ff33;
  transition: box-shadow 0.2s ease-in-out;
}

.equal {
  color: #000000;
  background-color: #33ff33;
}

.equal:hover {
  background-color: #66ff66;
  box-shadow: 0 0 10px #33ff33;
  transition: box-shadow 0.2s ease-in-out;
}

.clear-entry {
  background-color: #ff9800;
  color: black;
}

.clear-entry:hover {
  background-color: #ffc266;
  box-shadow: 0 0 10px #ff9800;
  transition: box-shadow 0.2s ease-in-out;
}

footer {
  margin-top: auto;
  display: flex;
  background-color: transparent;
  color: #00ff00;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

footer a {
  display: flex;
  align-items: center; /* Aligns items vertically */
  text-decoration: underline;
  background-color: transparent;
  color: #00ff00;
  font-size: 1.2rem;
  gap: 8px;
  animation: flickerText 1.5s infinite alternate;
}

footer a:hover {
  animation: float 3s ease-in-out infinite, flickerText 1.5s infinite alternate;
}

.github-logo {
  display: inline-block;
  background: #00ff00;
  border: 1px solid transparent;
  border-radius: 50%;
  max-width: 28px;
  max-height: 28px;
  animation: flicker 1.5s infinite alternate;
  transition: all 0.3s ease-in-out;
}

.github-logo:hover {
  animation: float 3s ease-in-out infinite, flicker 1.5s infinite alternate;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@keyframes flicker {
  0% {
    box-shadow: 0 0 5px #00ff00;
  }
  50% {
    box-shadow: 0 0 15px #00ff00;
  }
  100% {
    box-shadow: 0 0 10px #00ff00;
  }
}

@keyframes flickerText {
  0% {
    text-shadow: 0 0 5px #00ff00;
  }
  50% {
    text-shadow: 0 0 15px #00ff00;
  }
  100% {
    text-shadow: 0 0 10px #00ff00;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

@keyframes dark-glow-pulse {
  0% {
    box-shadow: 0 0 7px rgba(0, 255, 0, 0.9), 0 0 12px rgba(0, 255, 0, 0.7),
      0 0 80px rgba(0, 255, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 12px rgba(0, 255, 0, 1), 0 0 18px rgba(0, 255, 0, 0.9),
      0 0 100px rgba(0, 255, 0, 0.7);
  }
}

@keyframes light-glow-pulse {
  0% {
    box-shadow: 0 0 7px rgba(0, 77, 0, 0.5), 0 0 12px rgba(0, 77, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 12px rgba(0, 77, 0, 0.7), 0 0 18px rgba(0, 77, 0, 0.6);
  }
}

@media (max-width: 768px) {
  .calculator {
    width: 80%;
    height: auto;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.5);
  }

  .screen {
    font-size: 1.5rem;
    padding: 10px;
  }
}
